.home-container
  .content
    .inner
      %h1 Everyone loves to Get Lucky!
      %p We're delighted to welcome Lucky Skillen to Vancouver for a great weekend of workshops, dancing and house(-like) parties!
      %p Lucky has been teaching since 1998 with the philosophy that play is learning and learning is fun!
      %p
        Learn more about Lucky
        = succeed '.' do
          = link_to "here", '/instructors'

    .inner
      %h2 Is Blues Fling for me?
      %p The classes at Blues Fling are "all levels" but are best if you have some prior dance experience. While Summer Blues Fling will have a strong blues focus, those with West Coast Swing, Salsa, Argentine Tango, or Lindy Hop experience are also very much welcome.
      %p Blues Fling is Blues focused but is also Fusion-friendly if that's your bag. With Blues Fling III we're aiming to hit the basics with a little more depth in technique than in previous flings.
      %p
        If you're new to blues dancing, check out 
        = succeed ',' do
          = link_to "Blues in the City", "https://www.facebook.com/groups/Bluesinthecity/", target: '_blank'
        = link_to "Blues Cafe", "https://www.facebook.com/TheBluesCafe", target: '_blank'
        and
        = link_to "Fuse", "https://www.facebook.com/pages/FUSE-Dance/193221077396143", target: '_blank'
        (Fusion) to get your bearings; you'll find a lot of great ideas and techniques at Blues Fling III to try. We'll also have a beginner class as part of our Friday night dance to get things cookin'.
      %p If you've been dancing awhile and have been to the previous Blues Flings, you'll be able to extend what you've learned previously in both a workshop and social environment and gain deeper and broader knowledge.

    .inner
      %h2 Private lessons
      %p
        Looking to improve your Blues dancing with a little more specific feedback?
        = link_to "Book a private lesson with Lucky Skillen", '/private_lessons'
        during the weekend.

    .inner
      %h2 Registration
      %p
        There are limited spots for this event so avoid disappointment and
        = succeed '.' do
          = link_to "register now", '/registration'
        Prices start from just $80 for an Early Bird Weekend Pass!

  .sidebar
    .carousel
      .carousel-inner
        .active.item
          = image_tag "lucky/1.jpg", title: "Lucky Skillen"
          .carousel-caption
            %p Lucky Skillen and Lessa Lamb
        -#
          .item
            = image_tag "lucky/2.jpg", title: "Lucky Skillen"
            .carousel-caption
              %p Lucky Skillen
          .item
            = image_tag "lucky/3.jpg", title: "Lucky Skillen"
            .carousel-caption
              %p Lucky Skillen

    .facebook
      .fb-like-box{ "data-href" => "http://www.facebook.com/BluesFling", "data-width" => "292", "data-show-faces" => "true", "data-stream" => "true", "data-header" => "true" }
