%h1 Your Blues Fling III instructors

.inner
  .row
    .span3
      = image_tag "lucky/headshot.jpg", title: "Lucky Skillen"
    .span9
      %h2 Lucky Skillen
      
      %p Through the magic power of his huge smile, Lucky Skillen brings dancing joy wherever he goes. Lucky started dancing in 1996 and began teaching in 1998. Since then he has taught and performed many styles of dances in Asia, Europe, and North America. He has also had the privilege of working with such celebrities as Neil Young, Kevin Bacon, Kyra Sedgwick, Katie Holmes, and Frankie Manning. Lucky teaches a wide variety of dance classes in which he creates a fun and playful atmosphere. He believes that play is learning and learning is fun!
      %p Currently Lucky spends about nine months out of the year touring and teaching across Europe and the United states. The three months that he is not traveling he work with the Dancing Classrooms Program in NYC teaching inner city kids how to ballroom dance.
      %p
        Lucky is currently finishing his documentary
        = link_to "Where We Danced: The Story of American Social Dance", "http://www.kickstarter.com/projects/66380497/where-we-danced-the-story-of-american-social-dance", target: '_blank'
        and needs your help! Find out more at
        = succeed '.' do
          = link_to "Kickstarter", "http://www.kickstarter.com/projects/66380497/where-we-danced-the-story-of-american-social-dance", target: '_blank'
        
      %p
        Find out more about Lucky at
        = link_to 'luckyskillen.com', 'http://www.luckyskillen.com/', target: '_blank', title: "Lucky Skillen"

.inner
  .row
    .span9
      %h2 Lessa Lamb
      %p Lessa has been studying and performing various forms of dance for most of her life. She started partner dancing socially with Lindy through a happy accident of fate, when at the '98/'99 New Years Eve dance in Tacoma, WA, she was petitioned by a then-acquaintance to become his teaching partner. Eventually she discovered Blues in a dark back-room at a Lindy exchange in Vancouver, and she's never been the same since.
      %p The unavoidable pull of Blues' sultry rhythms has captivated her, drawing her in, willing her to discover ever more dizzying heights of elation through movement. In her continuous discovery of Blues, she has found that her best, most creative, and most satisfying series of movements come when she stops thinking about what she's doing, and just allows the dance, the music, the connection, to flow through her. In this conduit-like state, she finds serenity. It is this experience of transcendent, divine dance that she strives to impart to as many people as she possibly can.
      %p Lessa recently completed her first teaching tour in England, which she is ecstatic to say now makes her an "international dance instructor".
      %p Whatever direction life takes her, she knows her passion for dance will always keep her on her toes.
    .span3
      = image_tag "lessa/headshot.jpg", title: "Lessa Lamb"

.inner
  .row
    .span3
      = image_tag "lucky/3.jpg", title: "Lucky Skillen"
    .span3
      = image_tag "lucky/1.jpg", title: "Lucky Skillen and Lessa Lamb"
    .span3
      = image_tag "lucky/4.jpg", title: "Lucky Skillen and Lessa Lamb"
    .span3
      = image_tag "lucky/2.jpg", title: "Lucky Skillen"
