%h1 Your Blues Fling III instructors

.inner
  .row
    .span3
      = image_tag "lucky/headshot.jpg", title: "Lucky Skillen"
    .span9
      %h2 Lucky Skillen
      
      %p Through the magic power of his huge smile, Lucky Skillen brings dancing joy wherever he goes. Lucky started dancing in 1996 and began teaching in 1998. Since then he has taught and performed many styles of dances in Asia, Europe, and North America. He has also had the privilege of working with such celebrities as Neil Young, Kevin Bacon, Kyra Sedgwick, Katie Holmes, and Frankie Manning. Lucky teaches a wide variety of dance classes in which he creates a fun and playful atmosphere. He believes that play is learning and learning is fun!
      %p Currently Lucky spends about nine months out of the year touring and teaching across Europe and the United states. The three months that he is not traveling he work with the Dancing Classrooms Program in NYC teaching inner city kids how to ballroom dance.
      %p
        Find out more at
        = link_to 'luckyskillen.com', 'http://www.luckyskillen.com/', target: '_blank', title: "Lucky Skillen"
.inner
  .row
    .span3
      = image_tag "lucky/1.jpg", title: "Lucky Skillen"
    .span3
      = image_tag "lucky/2.jpg", title: "Lucky Skillen"
    .span3
      = image_tag "lucky/3.jpg", title: "Lucky Skillen"
    .span3
      = image_tag "lucky/4.jpg", title: "Lucky Skillen"
