%h1 The Blues Fling III schedule

.inner
  %h2 Friday, June 15th - Hard Luck Friday
  .row
    .span8
      %p It's the 1930s and the Great Depression has left everyone wanting. Wanting Blues. Pull out those tattered vintage dresses, rusty suspenders and ripped trousers. Dress for recession as we pay homage to the hard times.
      
      %table.table.table-striped
        %tr
          %td{ style: "width: 30%" } 9:00pm &mdash; 10:00pm
          %td
            %h4 Communication
            %p This class will go over 3 different ways to connect and communicate with your partner: visual, physical, and verbal. It will give you a great start for the weekend
        %tr
          %td 10:00pm &mdash; 3:00am
          %td
            %p Freestyle like the economy is crashing down around us.
            %h4 DJs
            %table.table.table-condensed
              %tr
                %td 10-11
                %td Julia Fleming (from Victoria)
              %tr
                %td 11-12
                %td Damon Skuce
              %tr
                %td 12-1
                %td Jay Holman (from Victoria)
              %tr
                %td 1-2
                %td Sara Wilson
              %tr
                %td 2-3
                %td Liz Muller (from Abbotsford)

    = render 'venue_ache_brasil'

.inner
  %h2 Saturday, June 16th
  .row
    .span8
      %h3 Workshops
      %table.table.table-striped
        %tr
          %td{ style: "width: 30%" } 12:00 &mdash; 12:30
          %td Registration and warm-up
        %tr
          %td 12:30 &mdash; 17:30
          %td
            %h4 Juke Joint Style Blues
            %p This is a style of blues based off of the slow dances being done in Juke Joints around America at the turn of the last century. This class will give you a firm grip on the basics of blues dancing and will go over weight shifts, pulse, fishtails and counter balance.

            %h4 Ballrooming
            %p This is the modern interpretation for the slow dancing done at the Savoy Ballroom in the 40s and 50s. Traditionally it was danced with many turns lifts and dips and today it has been developed into very dynamic dance adding a new flavour of movement to the floor craft.

            %h4 Putting solo movement into your dancing
            %p This class teaches you how to put Solo movement into your dancing.

            %h4 Tangoed Up In Blues
            %p This dance mixes the upright formality of Tango with down-home feeling of Blues. In this class you will learn some of the fundamentals of Tango as well as transitions between the two dances. It will give your Blues a smooth intimate look that only tango can provide.

    = render 'venue_russian_hall'
  %br/
  .row
    .span8
      %h3 Casino
      %p Calling all High rollers, show girls, Black Jacks and Lady Lucks: Blues Fling is all in for Casino night. A little fast and loose but still close to the chest, Saturday promises to be glamorous, thrilling, and quite a ride. What happens at Casino night stays at Casino night. 
      %table.table.table-striped
        %tr
          %td{ style: "width: 30%" } 9:00pm &mdash; 3:00am
          %td
            %p Freestyle like you just gambled the economy of a small nation on Roulette.
            %h4 DJs
            %table.table.table-condensed
              %tr
                %td 9-10
                %td Sara Wilson
              %tr
                %td 10-11
                %td Stacy Hilton
              %tr
                %td 11-12
                %td Jim Saliminen
              %tr
                %td 12-1
                %td Jay Holman (from Victoria)
              %tr
                %td 1-2
                %td Ioana Bercea
              %tr
                %td 2-3
                %td Julia Fleming (from Victoria)

    = render 'venue_ache_brasil'

.inner
  %h2 Sunday, June 17th
  .row
    .span8
      %h3 Workshops
      %table.table.table-striped
        %tr
          %td{ style: "width: 30%" } 12:00 &mdash; 12:30
          %td Registration and warm-up
        %tr
          %td 12:30 &mdash; 17:30
          %td
            %h4 Contrast
            %p This class will add dynamics to your dancing by using opposing forces. Fast/slow, Big/small etc.

            %h4 Ballrooming 2
            %p This class will take your ballrooming to the next level.

            %h4 Musicality
            %p This is a fun and exciting class that will help you discover how to interpret the music in new ways – the hallmark of a great dancer.

            %h4 Micro Blues
            %p This is a modern style of Blues that uses small movements to communicate to your partner. This class is an experience not to be missed.
    = render 'venue_russian_hall'
  %br/

  .row
    .span8
      %h3 Bluesalicious Superstitous
      %p Vancouvers favorite house party venue is all about the omens on Sunday night - bring your favourite lucky charms what ever they may be. Pooled together our collective fortunes will be nothing short of spectacular. Missing this party just might mean seven years of bad luck.
      %table.table.table-striped
        %tr
          %td{ style: "width: 30%" } 9:00pm &mdash; 2:00am
          %td
            %p Freestyle like you've got all the luck in the world.
            %h4 DJs
            %table.table.table-condensed
              %tr
                %td 9-10
                %td Joseph Dubec
              %tr
                %td 10-11
                %td Tien Le
              %tr
                %td 11-12
                %td Ioana Bercea
              %tr
                %td 12-1
                %td Liz Muller
              %tr
                %td 1-2
                %td David Yates

    = render 'venue_davids_loft'
