.hero-unit
  %h1 Classes

%h2#saturday Saturday

.row
  .span8
    = class_block "c1", "Solo movement, riffing, learning with your eyes", "11:30 &mdash; 12:30" do
      %p
        Culturally, blues dance is a group experience, so when it comes to solo movement, it's not just about you, but how you're relating to your fellow dancers. In this class we'll work on a simple group choreography to turn your learning eyes on, and then explore ways to share solo movement with your friends through a series of fun games.

    = class_block "c2", "Parnership dynamics - modes of connection + rhythms", "12:45 &mdash; 13:45" do
      %p
        Want to be the couple that makes everyone say, "Aww! You two are so perfect!" and "How long have you been dancing together?" This class is all about how to use dynamics in your connection to create amazing connection with anyone, even if it's your first dance.

    = class_block "c3", "Turning technique 1", "14:45 &mdash; 15:45" do
      %p
        A technique focused class on the fundamentals needed to lead and follow effortless turns. This class will eliminate "surprise!" turns and enable both partners to understand how to set up and build on rotational momentum.

    = class_block "c4", "Blues styles (how to dance and synthesize music and rhythms)", "16:00 &mdash; 17:00" do
      %p
        Put it all together with this class. Focus on the music and various styles of blues while practicing your new moves. We'll cover several styles of blues and how we change our dance to match the music.

    = class_block "c5", "How to dance to electronic music", "17:15 &mdash; 18:15" do
      %p
        This is a bonus class for those of you with a particular interest in dancing to alternative styles of music. We've taken a methodical approach to breaking down listening to and interpreting electronic music, and building multiple layers back into the dance. Explore your favorite electronic artists and discover how to apply what you know to this inspiring genre.
  .span4{ style: "text-align: right;" }
    = link_to "&laquo; Return to schedule".html_safe, { action: "schedule" }, class: "btn", style: "margin-top: 15px"

%hr/

%h2#sunday Sunday

.row
  .span8
    = class_block "c6", "Turning technique 2", "12:00 &mdash; 13:00" do
      %p
        Building on Saturday's break-down of turning technique, we'll build a series of turning patterns that will expand your horizons and allow leads to choreograph infinite combinations, while follows practice adding style and flow to their turns.

    = class_block "c7", "Critical timing + kickass moves", "13:15 &mdash; 14:15" do
      %p
        This class will take your dancing from great to competition level. We'll work on some challenging moves and then explore ways to time your movement so it hits the music exactly where you want it. Leads will explore how to time the preparation and follows will discover that they have the tools to add extra layers of musicality and expression to create even more visual impact.

    = class_block "c8", "Fusion Cliff Notes", "15:30 &mdash; 16:30" do
      %p
        You're new on the fusion scene and don't know where to start. Come peek at the map of all the different paths you can take. You'll leave with a Choose Your Own Adventure manual of how to build your fusion dance.

    = class_block "c9", "Relax, Don't Panic, Breathe", "16:45 &mdash; 17:45" do
      %p
        You can lead more than movement. Use breath to build rapport with your partner, put them at ease, add texture to your lead and follow, and relax/reconnect if <gasp> something goes wrong during the song. Can be taught in the context of Blues Dance, another partnered dance form, or even contact improv.

    = class_block "c10", "A public private", "18:00 &mdash; 19:00" do
      %p
        Tune your eye to watching the subtleties of Blues Dance while getting practical advice with your peers.  Couples take turn dancing in front of the group with one of the dancers getting feedback on their technique, style, connection, and musicality.  Then all are given a chance to see the immediate change and practice the tip themselves. Get personal feedback.  Learn as a community.
      %p
        Only 10 critique tickets are available.  Observer tickets are unlimited.
        = link_to "Register now", { action: "registration" }

  .span4{ style: "text-align: right;" }
    = link_to "&laquo; Return to schedule".html_safe, { action: "schedule" }, class: "btn", style: "margin-top: 15px"
