.hero-unit
  %h1
    Frequently Asked Questions

.row
  .span8.offset2
    %h3 Where are the dances being held?
    %p
      Check the
      = link_to "Schedule", action: "schedule"
      to see when and where every dance is taking place.

    %h3 Is there hosting available?
    %p
      We will help people with hosting on a first-come, first-served basis. Register your availability to host or your needs on the registration form and we'll do our best to help you out.

    %h3 Are there volunteering opportunities?
    %p
      Yes! See the
      = link_to "Volunteer", action: "volunteer"
      page for information on volunteering.

    %h3 What happened to Terminal City Blues?
    %p
      Unfortunately Terminal City Blues is no longer able to go ahead. If you have already purchased the combo pass we will be in touch with you shortly to arrange a refund.

    %h3 Workshop schedule
    %p
      We're still working out all the details but we'll update here and post on
      %a{:href => "https://www.facebook.com/BluesFling", target: "_blank"} facebook.com/BluesFling
      as soon as we know. Like us on Facebook to get notified straight away!

    %h3 Music
    %p
      We have a limited number of slots available for guest DJs at our dance parties. If you want to try your hand at providing the tunes, get in touch with us at
      = link_to "info@bluesfling.ca", "mailto:info@bluesfling.ca"

    .row
      .span4
        %h3 T-shirts
        %p
          Like to show off how many dance events you've gone to?
          Like to promote local events?
          Need (another!) shirt for your dance bag?
          Look no further &mdash; Our 100% cotton Classic unisex T shirt is available for $20
        %p
          Already registered, afraid you've missed out? You can modify your registration to now include the shirt!
          A limited quantity will be available at the event, but to ensure the right size, please pre-order.
      .span3.offset1
        = image_tag asset_url("blues_fling_four/dancers/tshirt.jpg"), class: "img-rounded"

.row
  .span12
    %center
      = link_to "Register now!", { action: "registration" }, class: "btn btn-large btn-primary"
