%header
  .row
    .span9.pull-right
      = image_tag "blues_fling_four/dancers/wordmark.png", title: "Blues Fling Fusion"
      %p
        A weekend of spectacular dancing &amp; workshops for Blues and Fusion
        %br/
        with
        %strong Ted Maddry &amp; Ruby Red
      %p
        %br/
        Vancouver, BC &mdash; July 26-28, 2013


    .span3
      = image_tag "blues_fling_four/dancers/logo.png"

.row
  .span12
    %h1 Blues and Fusion for an entire weekend

.row
  .span6
    %p
      We're delighted to invite
      = link_to "Ted Maddry and Ruby Red", { action: "instructors" }
      to Vancouver for a great weekend of workshops, dancing and house(-like) parties!

    %h3 Is Blues Fling Fusion for me?
    %p
      The classes at Blues Fling Fusion are "all levels" but are best if you have some prior dance experience. While we will have a strong blues and fusion focus, those with West Coast Swing, Salsa, Argentine Tango, Lindy Hop or other partner dance experience are also very much welcome.
    %p
      New to Blues/Fusion and want to know more? Check out the
      = link_to "Blues & Fusion", action: "about"
      page for some more information.
    %p
      If you've been dancing awhile and have been to the previous Blues Flings, you'll be able to extend what you've learned previously in both a workshop and social environment and gain deeper and broader knowledge.

    %p
      %center
        = link_to "Register now!", { action: "registration" }, class: "btn btn-primary btn-large"
    %p
      For more information about the event including location, workshops and volunteering, check out the
      = link_to "frequently asked questions", { action: "faq" }

  .span6
    .row
      .span6
        = link_to image_tag("blues_fling_four/dancers/4.jpg", title: "Ted Maddry", class: "img-rounded"), { action: "instructors" }
        %p
          = link_to "Learn more about Ted Maddry and Ruby Red", { action: "instructors" }

.row
  .span3.offset2
    = image_tag asset_url("blues_fling_four/dancers/tshirt.jpg"), class: "img-rounded"

  .span5
    %h2 Blues Fling now has T-shirts!
    %p
      Like to show off how many dance events you've gone to?
      %br/
      Like to promote local events?
      %br/
      Need (another!) shirt for your dance bag?
      %br/
      Look no further!

    %p
      Our 100% cotton Classic unisex T shirt is available for $20

    %p
      Already registered, afraid you've missed out? You can modify your registration to now include the shirt!
