%header
  .row
    .span9.pull-right
      = image_tag "blues_fling_four/dancers/wordmark.png", title: "Blues Fling Fusion"
      %p
        A weekend of spectacular dancing &amp; workshops for Blues and Fusion
        %br/
        with
        %strong Ted Maddry &amp; Ruby Red
      %p
        %br/
        Vancouver, BC &mdash; July 26-28, 2013


    .span3
      = image_tag "blues_fling_four/dancers/logo.png"

.row
  .span12
    %h1 Blues and Fusion for an entire weekend

.row
  .span6
    %p
      We're delighted to invite
      = link_to "Ted Maddry and Ruby Red", { action: "instructors" }
      to Vancouver for a great weekend of workshops, dancing and house(-like) parties!

    %h3 Is Blues Fling Fusion for me?
    %p The classes at Blues Fling Fusion are "all levels" but are best if you have some prior dance experience. While we will have a strong blues and fusion focus, those with West Coast Swing, Salsa, Argentine Tango, Lindy Hop or other partner dance experience are also very much welcome.
    %p
      If you're new to blues and fusion dancing, check out
      = succeed ',' do
        = link_to "Blues in the City", "https://www.facebook.com/groups/Bluesinthecity/", target: '_blank'
      = link_to "Blues Cafe", "https://www.facebook.com/TheBluesCafe", target: '_blank'
      and
      = link_to "FUSE", "https://www.facebook.com/pages/FUSE-Dance/193221077396143", target: '_blank'
      (Fusion) to get your bearings; you'll find a lot of great ideas and techniques at Blues Fling Fusion to try.
      / We'll also have a beginner class as part of our Friday night dance to get things cookin'.
    %p
      You can find more information about blues and fusion dancing in Vancouver at
      = link_to "vanblues.com", "http://www.vanblues.com/", target: "_blank"
    %p If you've been dancing awhile and have been to the previous Blues Flings, you'll be able to extend what you've learned previously in both a workshop and social environment and gain deeper and broader knowledge.

    %p
      %center
        = link_to "Register now!", { action: "registration" }, class: "btn btn-primary btn-large"
    %p
      For more information about the event including location, workshops and volunteering, check out the
      = link_to "frequently asked questions", { action: "faq" }

  .span6
    .row
      .span3
        = image_tag "blues_fling_four/dancers/ted.jpg", title: "Ted Maddry"
        %h4
          Ted Maddry
      .span3
        = image_tag "blues_fling_four/dancers/ruby.jpg", title: "Ruby Red"
        %h4
          Ruby Red
      .span6
        %p
          = link_to "Learn more about Ted Maddry and Ruby Red", { action: "instructors" }

.row
  .span4
    %h2 Terminal City Blues
    %p
      What's this?
      %strong More dancing‽
      That's right; coming to Vancouver on Labour Day weekend (August 30th - September 1st) is Terminal City Blues. Featuring two tracks (Intermediate and Advanced) and with a focus on
      %strong East Coast Blues
      you will learn to dance blues like they do on the East Coast; emphasis on traditional blues styles.

    %p
      Your instructors for this magical weekend are
      #{link_to "Dexter Santos", "http://www.dextersantos.com/", target: "_blank"},
      #{link_to "Heidi Fite", "http://www.blues-dance.com/aboutus/heidifite/", target: "_blank"},
      and #{link_to "Ruth Hoffman, & Mike Grosser", "http://ruthandmike.com/", target: "_blank"}.

    %p
      To make the deal even sweeter we're offering
      %strong All Access Combo Passes to Blues Fling Fusion and Terminal City Blues
      at a discounted rate; register early to save even more with the Early Bird discount!
    %p
      For more information, visit
      = link_to "terminalcityblues.com", "http://www.terminalcityblues.com/", target: "_blank"
      or you can
    %p
      %center
        = link_to "Register now!", { action: "registration" }, class: "btn btn-primary btn-large"

  .span4
    %h2 Blues Fling now has T-shirts!
    %p
      Like to show off how many dance events you've gone to?
      %br/
      Like to promote local events?
      %br/
      Need (another!) shirt for your dance bag?
      %br/
      Look no further!

    %p
      Our 100% cotton Classic unisex T shirt is available for $20

    %p
      Already registered, afraid you've missed out? You can modify your registration to now include the shirt!

  .span4
    = image_tag asset_url("blues_fling_four/dancers/tshirt.jpg"), class: "img-rounded"
