/ Header Wrapper
#header-wrapper
  .5grid-layout
    .row
      .12u

        / Banner
        #banner
          %h1
            Blues Fling
            %strong Fusion

          %h2
            %strong July 26-28, 2013
            %br/
            A weekend of spectacular
            %br/
            dancing in Vancouver, BC.

/ Main Wrapper
#main-wrapper
  .main-wrapper-style1
    .inner
      / Feature 2
      %section.5grid-layout
        .row
          .1u &nbsp;
          .7u
            %section.pad-right
              %header.major
                %h2 Blues and Fusion for an entire weekend

              %p
                We're delighted to invite
                = link_to "Ruby Red and Ted Maddry", "#instructors"
                to Vancouver for a great weekend of workshops, dancing and house(-like) parties!

              %h3 Is Blues Fling Fusion for me?
              %p The classes at Blues Fling Fusion are "all levels" but are best if you have some prior dance experience. While we will have a strong blues and fusion focus, those with West Coast Swing, Salsa, Argentine Tango, Lindy Hop or other partner dance experience are also very much welcome.
              %p
                If you're new to blues and fusion dancing, check out
                = succeed ',' do
                  = link_to "Blues in the City", "https://www.facebook.com/groups/Bluesinthecity/", target: '_blank'
                = link_to "Blues Cafe", "https://www.facebook.com/TheBluesCafe", target: '_blank'
                and
                = link_to "FUSE", "https://www.facebook.com/pages/FUSE-Dance/193221077396143", target: '_blank'
                (Fusion) to get your bearings; you'll find a lot of great ideas and techniques at Blues Fling Fusion to try. We'll also have a beginner class as part of our Friday night dance to get things cookin'.
              %p If you've been dancing awhile and have been to the previous Blues Flings, you'll be able to extend what you've learned previously in both a workshop and social environment and gain deeper and broader knowledge.

              %p
                There are limited spots available for Blues Fling Fusion so avoid disappointment and register now! Prices start from just $80 for an Early Bird pass.
              %p
                = registration_link
              %p
                For more information about the event including location, workshops and volunteering, check out the
                = link_to "info section", "#more-info"
                below.


          .3u
            %section.pad-left
              = image_tag "blues_fling_four/dancers/logo.png", class: "rounded", style: "width: 100%"

              .fb-like-box{ "data-href" => "http://www.facebook.com/BluesFling", "data-show-faces" => "true", "data-stream" => "true", "data-header" => "true" }

        %p &nbsp;
        .row
          .1u &nbsp;
          .10u
            %header.major
              %h2 Terminal City Blues
        .row
          .1u &nbsp;
          .5u
            %p
              What's this?
              %strong More dancing‽
              That's right; coming to Vancouver on Labour Day weekend (August 30th - September 1st) is Terminal City Blues. Featuring two tracks (Intermediate and Advanced) and with a focus on
              %strong East Coast Blues
              you will learn to dance blues like they do on the East Coast; emphasis on traditional blues styles.

            %p
              Your instructors for this magical weekend are
              #{link_to "Dexter Santos", "http://www.dextersantos.com/", target: "_blank"},
              #{link_to "Heidi Fite", "http://www.blues-dance.com/aboutus/heidifite/", target: "_blank"},
              and #{link_to "Ruth Hoffman, & Mike Grosser", "http://ruthandmike.com/", target: "_blank"}.

          .5u
            %p
              To make the deal even sweeter we're offering
              %strong All Access Combo Passes to Blues Fling Fusion and Terminal City Blues
              at a discounted rate; register early to save even more with the Early Bird discount!
            %p
              For more information, visit
              = link_to "terminalcityblues.com", "http://www.terminalcityblues.com/", target: "_blank"
              or you can
            %p
              = registration_link



  #instructors.main-wrapper-style2
    .inner
      / Feature 2
      %section.5grid-layout.box-feature2
        .row
          .1u &nbsp;
          .5u
            %section.pad-right
              %header.major
                %h2 Ruby Red
                %span.byline Chicago
              = image_tag "blues_fling_four/dancers/ruby.jpg", class: "rounded", title: "Ruby Red"

              %blockquote
                %p
                  I left circus training to join the world of social dance in 2000. In 2001, I saw Frankie Manning tell the story of the battle of the bands between Chick Webb and Benny Goodman and his performance of the first air-steps. It was then that I realized that Swing Dance would last me for the rest of my life. After all, Frankie was 89 at the time and still going strong! During that fateful year, I immersed myself in dance classes, at one point taking 9 dance classes a week, including ballroom, latin, swing, break-dancing and tap.

                %p
                  Through Swing dancing I was invited to an an underground blues dance party. By 2005 I was teaching and DJing at the first iterations of Friday Night Blues in San Francisco. Since then I've traveled the US and to the UK to teach, DJ and share my love of Blues and Swing with other dancers. Now based in Chicago, I help run Bluetopia, Chicago's monthly blues dance, and continue to travel to other cities to connect, collaborate and bring inspiration back to my community.

                %p
                  Not only a continual student of dance, I'm also a certified massage therapist and have studied other movement forms including Kung Fu, T'ai Chi and Iyengar Yoga.

                %p
                  Learn more about Ruby Red at
                  = link_to "ruby-red.com", "http://dance.ruby-red.com/", target: "_blank"

          .5u
            %section.pad-left
              %header.major
                %h2 Ted Maddry
                %span.byline San Francisco
              = image_tag "blues_fling_four/dancers/ted.jpg", class: "rounded", title: "Ted Maddry"
              %blockquote
                %p
                  Ted Maddry started teaching dance in 2007, but he’s a born teacher.  Ted runs a fun, lighthearted classroom and delights in working with first-time dancers, international instructors, and the range in between.
                %p
                  As a teacher, Ted has helped thousands of students change their dancing in places like Boston, D.C., Raleigh, Las Vegas, Columbia, Austin, Denver, Vancouver, Portland, St. Louis, Chicago, Seattle, and San Francisco.
                %p
                  In his classes, he will challenge you to develop dance technique, experiment and take risks in your dancing, while maintaining a comfortable and entertaining classroom environment. You will gain new perspectives, unique material, and sometimes you will even learn how the same methods you use to improve your dancing can also be used to improve your non-dance life.
                %p
                  Ted is also the Ringleader of Beyond Blues, offering weekly Blues Dance venues in Berkeley and San Francisco, workshops, and dance camps. Ted is working with a great team to spread the joy of Blues Dance around the San Francisco Bay Area.
                %p
                  Learn more about Ted Maddry at
                  = link_to "tedmaddry.com", "http://tedmaddry.com/", target: "_blank", title: "Learn more about Ted Maddry"

  .main-wrapper-style3#more-info
    .inner
      .5grid-layout
        .row
          .1u &nbsp;
          .10u
            %header.major
              %h2 So, you've got questions?

        .row
          .1u &nbsp;
          .5u
            %h3 Venues
            %p
              Workshops will be taking place the
              = link_to "Russian Hall", map_link("Russian Hall, 600 Campbell Ave, Vancouver, BC, Canada"), target: '_blank'
              and we're still working out where the parties will go.

            %h3 Hosting
            %p
              We will help people with hosting on a first-come, first-served basis. Register your availability to host or your needs on the registration form and we'll do our best to help you out.

            %h3 Volunteering
            %p
              If you would like to volunteer at Blues Fling Fusion (in exchange for a discount on your ticket) please contact us at
              %a{:href => "mailto:info@bluesfling.ca"} info@bluesfling.ca
              and let us know when you're available.

          .5u
            %h3 Schedule and everything else?
            %p
              We're still working out all the details but we'll update here and post on
              %a{:href => "https://www.facebook.com/BluesFling", target: "_blank"} facebook.com/BluesFling
              as soon as we know. Like us on Facebook to get notified straight away!

            %h3 Registration
            %p
              There are limited spots available for Blues Fling Fusion so avoid disappointment and register now! Prices start from just $80 for an Early Bird pass.
            %p
              = registration_link



/ Footer Wrapper
#footer-wrapper
  %footer#footer.5grid-layout
    .row
      .1u &nbsp;
      .5u
        / About
        %section
          %h2
            %strong Blues Fling
          %p
            %strong Blues Fling
            is brought to you by Karen Jang, Devon Cooke and Martin Knowles.
          %p
            They are being aided by a small army of volunteers including Abigail Feresten, Barney Lee, Cathy Lau, Dominic Boyer, Ioana Bercea, Julia Skoczylas, Kenneth Minchin, Kevin Pi, Morgan Grubb, Oana Sandu, Paula Maylin, Raphaella Weissgerber, Tien Le and Valerie Stride.
      .5u
        / Contact
        %section
          %h2 Get in touch
          %dl.contact
            %dt Facebook
            %dd
              %a{:href => "https://www.facebook.com/BluesFling", target: "_blank"} facebook.com/BluesFling
            %dt WWW
            %dd
              %a{:href => "http://www.bluesfling.ca", target: "_blank"} bluesfling.ca
            %dt Email
            %dd
              %a{:href => "mailto:info@bluesfling.ca"} info@bluesfling.ca
    .row
      .1u &nbsp;
      .10u
        #copyright
          \© Blues Fling. All rights reserved | Design:
          %a{:href => "http://html5up.net/"} HTML5 Up!
