.hero-unit
  %h1 Schedule

.row
  .span4
    %p
      Dance all day, dance all night — Blues fling offers four hours of workshops each day, and dancing 'til you drop each night.
    %p
      Each day of workshops will feature both Blues and Fusion classes that can take your dancing to the next level — Ted and Ruby are both AWESOME solo dancers, and we know you'll want to learn their moves.
    %p
      We run our dances like parties — with food, themes, and lots and lots of dancing.  Dress up, have fun, and bring your best — we'll have awesome DJs to bring you through the night.

  .span8
    %h3 Friday, July 26th &mdash; Evening
    %h4
      Venue:
      = link_to_academie_duello
    %table.table.table-striped
      %tr
        %td{ style: "width: 25%" } 22:15 &mdash; 23:00
        %td= link_to "Fundamentals drop-in", action: "classes", anchor: ""
      %tr
        %td 23:00 &mdash; 02:00
        %td= link_to "Dance Party: Blues Gotcha Down?", action: "dances"

    %hr/

    %h3 Saturday, July 27th &mdash; Day
    %h4
      Venue:
      = link_to_russian_hall
    %table.table.table-striped
      %tr
        %td 10:00 &mdash; 11:30
        %td Private lessons
      %tr
        %td{ style: "width: 25%" } 10:30 &mdash; 11:30
        %td Setup and registration
      %tr
        %td 11:30 &mdash; 12:30
        %td= link_to "Solo movement, riffing, learning with your eyes", action: "classes", anchor: "saturday"
      %tr
        %td 12:45 &mdash; 13:45
        %td= link_to "Partnership dynamics - modes of connection + rhythms", action: "classes", anchor: "saturday"
      %tr
        %td 14:45 &mdash; 15:45
        %td= link_to "Turning technique 1", action: "classes", anchor: "saturday"
      %tr
        %td 16:00 &mdash; 17:00
        %td= link_to "Blues Styles (how to dance and synthesize music and rhythms)", action: "classes", anchor: "saturday"
      %tr
        %td 17:15 &mdash; 18:15
        %td= link_to "How to dance to electronic music", action: "classes", anchor: "saturday"
      %tr
        %td 18:30 &mdash; 20:30
        %td Private lessons

    %h3 Saturday, July 27th &mdash; Evening
    %h4
      Venue:
      = link_to_academie_duello
    %table.table.table-striped
      %tr
        %td{ style: "width: 25%" } 21:00 &mdash; 02:00
        %td= link_to "Dance Party: Keep Calm & Dance On", action: "dances"

    %hr/

    %h3 Sunday, July 28th &mdash; Day
    %h4
      Venue:
      = link_to_russian_hall
    %table.table.table-striped
      %tr
        %td 10:00 &mdash; 12:00
        %td Private lessons
      %tr
        %td{ style: "width: 25%" } 12:00 &mdash; 13:00
        %td= link_to "Turning technique 2", action: "classes", anchor: "sunday"
      %tr
        %td 13:15 &mdash; 14:15
        %td= link_to "Critical timing + kickass moves", action: "classes", anchor: "sunday"
      %tr
        %td 15:30 &mdash; 16:30
        %td= link_to "Fusion cliff notes", action: "classes", anchor: "sunday"
      %tr
        %td 16:45 &mdash; 17:45
        %td= link_to "Relax, don't panic, breathe", action: "classes", anchor: "sunday"
      %tr
        %td 19:15 &mdash; 20:15
        %td Private lessons

    %h3 Sunday, July 28th &mdash; Master Class
    %h4
      Venue:
      = link_to_russian_hall
    %h5
      Note: This class is not included in the Weekend or Single day passes. See the
      = link_to "registration", action: "registration"
      page for more details.
    %table.table.table-striped
      %tr
        %td{ style: "width: 25%" } 18:00 &mdash; 19:00
        %td
          %p
            = link_to "Master Class:  Public Private Lesson", action: "classes", anchor: "sunday"
            &mdash;
            = link_to "Register now", { action: "registration" }
          %p
            Get your dancing critiqued directly by Ted & Ruby.  Only 10 critique tickets are available.  Observer tickets are unlimited.

    %h3 Sunday, July 28th &mdash; Evening
    %h4
      Venue:
      = link_to_one_thousand_rivers
    %table.table.table-striped
      %tr
        %td{ style: "width: 25%" } 21:00 &mdash; 03:00
        %td= link_to "Dance Party: You Can't Stop the Beat", action: "dances"

    %h3 Monday, July 29th
    %table.table.table-striped
      %tr
        %td{ style: "width: 25%" } By appointment
        %td Private lessons
