!!!
%html
  %head
    %title Blues Fling III: Get Lucky
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    = render 'layouts/google_analytics'
  %body
    %header
      .noise
        .container
          .dancers
            %h2
              Blues Fling III: Get Lucky

            %h3
              With
              %b Lucky Skillen
              and Lessa Lamb
              &mdash;
              June 15-17, Vancouver BC

        .menu
          .container
            %ul
              - menu_root.children.each do |menu_node|
                %li{ class: "#{'active' if menu_node == current_menu_node }" }
                  = link_to menu_node.name, menu_node.url

    = render 'layouts/facebook_sdk'
    .shade
      .container
        .content
          = yield

    %footer
      .shade
        .container
          .row
            .span6
              %h4 About us
              %p Blues Fling is brought to you by Karen Jang, Devon Cooke and Martin Knowles.
              %p They are being aided by a small army of volunteers including Abigail Feresten, Barney Lee, Chris Harris, Diane Garceau, Ioana Bercea, Julia Skoczylas, Liam Helmer, Maxim Stykow, Morgan Grubb, Oana Sandu and Valerie Stride.
            .span6
              %h4 Contact
              %p
                You can find us on Facebook at
                = link_to "Blues Fling", 'https://www.facebook.com/BluesFling', target: '_blank'
                or email us at 
                = succeed '.' do
                  = mail_to "info@bluesfling.ca"
              -# .fb-comments{ "data-href" => "http://www.bluesfling.ca", "data-num-posts" => "3", "data-width" => "400", "data-colorscheme" => "dark" }

    = javascript_include_tag "application"
    = yield :javascript
